<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Bima · Native Desktop App for MFA and OTP Token</title>
    <%= csrf_meta_tag() %>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header class="navigation">
      <section class="container">
        <nav role="navigation">
          <ul class="navigation-list float-right">
            <li class="navigation-item"><a href="#pricing">Price</a></li>
            <li class="navigation-item"><a href="#faq">FAQ</a></li>
            <li class="navigation-item"><a class="button" href="#download">Download</a></li>
            <%= if signed_in?(@conn) do %>
              <li class="navigation-item"><%= link "Logout", to: Routes.session_path(@conn, :delete), method: :delete %></li>
            <% end %>
          </ul>
        </nav>

        <a href="https://bima.getopty.com/" class="navigation-title phx-logo">
          <img src="<%= Routes.static_path(@conn, "/images/logo.png") %>" width="32" height="32"/>
          <h1 class="title">Bima</h1>
        </a>
      </section>
    </header>

    <main role="alert" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    </main>

    <%= render @view_module, @view_template, assigns %>

    <footer class="footer"><section class="container"><p class="copyright">Build by <a href="https://betterdev.link" rel="noopener" target="_blank" title="Opty - DevOps consulting">Vinh</a>. © 2020 <a href="https://github.com/milligram/milligram#license" rel="noopener" target="_blank" title="MIT License">Opty LLC</a>.</p><nav class="nav"></nav></section></footer>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
